<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>精神疾病队列研究平台</title>
    <link rel="stylesheet" th:href="@{common/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{common/style.css}">
    <script th:src="@{common/jquery.min.js}"></script>
    <script th:src="@{common/bootstrap/js/bootstrap.js}"></script>
</head>
<body>
<!-- 标题栏 {首页，项目列表，EDC}-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a th:href="@{/}"><img th:src="@{common/img/logo.png}" width="300"></a>
        </div>
        <div id="navbar" class="navbar-right navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">首页</a></li>
                <li><a th:href="@{/projectList(pageNumber=0)}">项目列表</a></li>
                <li><a th:href="@{/edc}">EDC</a></li>
            </ul>
        </div>
    </div>
</nav>

<div style="height: 50px"></div>

<div class="session-container">
    <div class="session-title">
        <h2>项目列表</h2>
        <div class="separator"></div>
    </div>
    <div class="session-content clearfix">
        <div class="about-block col-md-6 col-sm-6 col-xs-12" th:each="item: ${list}">
            <div class="inside-center card">
                <div class="inner-box">
                    <div class="icon-box">
                        <img class="introduce" th:src="@{common/img/name.png}">
                    </div>
                    <h3><a th:href="@{/projectDetails}" th:text="${item.title}"><br>
                    </a></h3>
                    <div class="text">
                        <table class="table t-table">
                            <tbody>
                            <tr>
                                <td class="label label-info fixedFontSize">项目来源</td>
                                <td th:text="${item.source}"></td>
                            </tr>
                            <tr>
                                <td class="label label-info fixedFontSize">负责人</td>
                                <td th:text="${item.personInCharge}"></td>
                            </tr>
                            <tr>
                                <td class="label label-info fixedFontSize">项目描述</td>
                                <td th:text="${item.description}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="session-container center-text">
    <ul class="pagination clearfix inline-block">
        <li><a th:href="@{/projectList(pageNumber=0)}">首页</a></li>
        <li th:if="${curPage > 1}">
            <a th:href="@{/projectList(pageNumber=${curPage - 2})}">前一页</a>
        </li>


        <li th:if="${curPage > 1}" th:each="i:${#numbers.sequence(1, curPage - 1)}">
            <a th:href="@{/projectList(pageNumber=${i - 1})}" th:text="${i}"></a>
        </li>

        <li class="active"><a href="#" th:text="${curPage}"></a></li>

        <li th:if="${curPage < pageNum}" th:each="i:${#numbers.sequence(curPage + 1, pageNum)}">
            <a th:href="@{/projectList(pageNumber=${i - 1})}" th:text="${i}"></a>
        </li>


        <li th:if="${curPage < pageNum}">
            <a th:href="@{/projectList(pageNumber=${curPage})}">后一页</a>
        </li>
        <li><a th:href="@{/projectList(pageNumber=${pageNum - 1})}">末页</a></li>
    </ul>
</div>
<div class="session-container background-black clearfix white">
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
        <img class="introduce" th:src="@{common/img/email.png}">
        <p class="msg">liuyuankeban@163.com</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
        <img class="introduce" th:src="@{common/img/mobile.png}">
        <p class="msg">010-82805307</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
        <img class="introduce" th:src="@{common/img/location.png}">
        <p class="msg">北京大学第六医院</p>
    </div>

</div>

</body>
</html>